@{
    ViewBag.Title = "About";
}
<!-- Intro Right -->

<div class="home">
    <div class="parallax_background parallax-window">
        <img src="~/Template/images/about.jpg" />
    </div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_title"><h1>About us</h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="intro_right intro">
    <div class="container">
        <div class="row row-xl-eq-height">

            <!-- Intro Image -->
            <div class="col-xl-6">
                <div class="intro_image">
                    <div class="background_image intro_image_background" style="background-image:url(images/intro_1.jpg)">
                        <img src="~/Template/images/intro_2.jpg" />
                    </div>
                </div>
            </div>

            <!-- Intro Right Content -->
            <div class="col-xl-6 intro_right_col">
                <div class="intro_right_content">
                    <div class="section_title_container text-center">
                        <div class="section_title"><h1>BookME - More than a stay</h1></div>
                        <div class="section_text">Welcome to our Hotel Management System! We are dedicated to revolutionizing the hospitality industry by providing cutting-edge technology solutions. With years of experience, our team is committed to simplifying hotel operations, enhancing guest experiences, and boosting efficiency. </div>
                    </div>
                    <div class="intro_right_text text-center"> Our innovative software streamlines reservations, billing, and guest management, allowing hoteliers to focus on delivering exceptional service. Join us on our mission to redefine hotel management, creating a seamless and delightful experience for both hotel staff and guests. </div>
                    <div class="sig text-center">
                        <img src="~/Template/images/sig.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Intro Left -->

<!--<div class="intro_left intro">
    <div class="container">
        <div class="row">-->

            <!-- Intro Left Content -->
            <!--<div class="col-xl-6 order-xl-1 order-2">
                <div class="intro_left_content">
                    <div class="section_title_container text-center">
                        <div class="section_title"><h1>Amazing Facilities</h1></div>
                        <div class="section_text">In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas sollicitudin est in libero pretium interdum.</div>
                    </div>
                    <div class="row icon_box_row">-->

                        <!-- Icon Box -->
                        <!--<div class="col-lg-4">
                            <div class="icon_box text-center">
                                <div class="icon_box_icon"><img src="~/Template/images/icon_1.svg" alt=""></div>
                                <div class="icon_box_title"><h3>Beautiful Rooms</h3></div>
                                <div class="icon_box_text">
                                    <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum.</p>
                                </div>
                            </div>
                        </div>-->

                        <!-- Icon Box -->
                        <!--<div class="col-lg-4">
                            <div class="icon_box text-center">
                                <div class="icon_box_icon"><img src="~/Template/images/icon_2.svg" alt=""></div>
                                <div class="icon_box_title"><h3>Swimming Pool</h3></div>
                                <div class="icon_box_text">
                                    <p>Maecenas sollicitudin est in libero pretium interdum.In vitae nisi.</p>
                                </div>
                            </div>
                        </div>-->

                        <!-- Icon Box -->
                        <!--<div class="col-lg-4">
                            <div class="icon_box text-center">
                                <div class="icon_box_icon"><img src="~/Template/images/icon_3.svg" alt=""></div>
                                <div class="icon_box_title"><h3>Luxury Resort</h3></div>
                                <div class="icon_box_text">
                                    <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>-->

            <!-- Intro Image -->
            <!--<div class="col-xl-6 order-xl-2 order-1">
                <div class="intro_image">
                    <div class="background_image intro_image_background" style="background-image:url(images/intro_2.jpg)">
                        <img src="~/Template/images/intro_2.jpg" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>-->
