
@{
    ViewBag.Title = "Blog";
}

<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/blog.jpg" data-speed="0.8">
        <img src="~/Template/images/blog.jpg" />
    </div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_title"><h1>The News</h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Blog Posts -->
                <div class="blog_posts">

                    <!-- Blog Post -->
                    <div class="blog_post">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6">
                                <div class="blog_post_image"><img src="~/Template/images/blog_1.jpg" alt=""></div>
                            </div>
                            <div class="col-xl-5 col-lg-6">
                                <div class="blog_post_content">
                                    
                                    <div class="pb_title"><a href="#"><h3>How to organize the perfect holiday</h3></a></div>
                                    
                                    <div class="pb_text">
                                        <p>To plan the perfect holiday, start by setting a budget, choosing a destination, and creating a detailed itinerary. Research accommodations, activities, and local cuisine. Make reservations well in advance, pack wisely, and ensure you have all necessary travel documents. Lastly, stay flexible and open to unexpected adventures.</p>
                                    </div>
                                    <div class="button blog_button"><a href="#">read more</a></div>
                                </div>
                            </div>
                        </div>
                    </div><hr />

                    <!-- Blog Post -->
                    <!--<div class="blog_post">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6">
                                <div class="blog_post_image"><img src="~/Template/images/blog_2.jpg" alt=""></div>
                            </div>
                            <div class="col-xl-5 col-lg-6">
                                <div class="blog_post_content">
                                    <div class="pb_title"><a href="#"><h3>Tips to have a great vacation</h3></a></div>
                                    
                                    <div class="pb_text">
                                        <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas sollicitudin est in libero pretium interdum.</p>
                                    </div>
                                    <div class="button blog_button"><a href="#">read more</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />-->
                    <!-- Blog Post -->
                    <div class="blog_post">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6">
                                <div class="blog_post_image"><img src="~/Template/images/blog_3.jpg" alt=""></div>
                            </div>
                            <div class="col-xl-5 col-lg-6">
                                <div class="blog_post_content">
                                    <div class="pb_title"><a href="#"><h3>Get the perfect tan for the summer</h3></a></div>
                                    
                                    <div class="pb_text">
                                        <p>Achieve the ultimate sun-kissed glow this summer with our expert tips and products. Discover the secrets to a perfect tan and embrace the radiant, bronzed look you've always wanted. Get ready to shine under the sun!</p>
                                    </div>
                                    <div class="button blog_button"><a href="#">read more</a></div>
                                </div>
                            </div>
                        </div>
                    </div><hr />

                    <!-- Blog Post -->
                    <div class="blog_post">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6">
                                <div class="blog_post_image"><img src="~/Template/images/blog_4.jpg" alt=""></div>
                            </div>
                            <div class="col-xl-5 col-lg-6">
                                <div class="blog_post_content">
                                    <div class="pb_title"><a href="#"><h3>Amazing places you should visit</h3></a></div>
                                  
                                    <div class="pb_text">
                                        <p>
                                            Explore a world of wonder and beauty by discovering these incredible destinations. From iconic landmarks to hidden gems, these amazing places offer unique experiences and breathtaking sights that should be on every traveler's bucket list. Don't miss the chance to create unforgettable memories in these captivating locations.
                                        </p>
                                    </div>
                                    <div class="button blog_button"><a href="#">read more</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Page Nav -->
                
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->

<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container_2">
                    <div class="section_title"><h1>Our Newsletter</h1></div>
                </div>
            </div>
        </div>
        <div class="row newsletter_row">

            <!-- Newsletter Content -->
            <div class="col-lg-6">
                <div class="newsletter_content">
                    <div class="newsletter_text">
                        <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas sollicitudin est in libero pretium interdum.</p>
                    </div>
                </div>
            </div>

            <!-- Newsletter Form -->
            <div class="col-lg-6 newsletter_col">
                <form action="#" class="newsletter_form" id="newsletter_form">
                    <input type="email" class="newsletter_input" placeholder="Your email" required="required">
                    <button class="newsletter_button">subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>

